# Dependencies
**/node_modules/

# Build output
**/.next/
**/out/
**/dist/
**/build/

# Logs
**/*.log

# OS
.DS_Store
Thumbs.db

# Editor
**/.vscode/

# Environment
**/.env
**/.env.*
!**/.env.example

# TypeScript incremental
**/*.tsbuildinfo

# Coverage
coverage